.image1{
			background-image: url(watch.jpg);
		}
		.image2{
			background-image: url(battery.jpg);
		}
		.image3{
			background-image: url(leonardo.jpg);
		}
		.image{
			width:100%;
			height:250px;
			background-size: cover;
			background-position: center; 
		}
		.image4{
			background-image: url(collage5.jpeg);
		}
		 .image4 .inner{
			position: relative;
			width: 100%;
			/*background-color: #0009;*/
			transform: translate(-50%,-50%);
			float: left;
			top: 50%;
			left: 50%;
			text-align: center;
			/*border-top: 4px solid #ffff;
			border-bottom: 4px solid #ffff;*/
			}

			.image4 .inner p{
				position:absolute;
				color:#ffff;
				font-size: 45px;
				/*text-align: center;*/
				top: 100%;
				left: 30%;
				
			} 
			.image .sid{
				top: 85%;
				left: 90%;
			}
	.bg-modal{
		width: 100%;
		height: 100%;
		background-color:rgba(0,0,0,0.7);
		position:absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}
	.bg-model{
		width: 100%;
		height: 100%;
		background-color:rgba(0,0,0,0.7);
		position:absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}
	.bg-modall{
		width: 100%;
		height: 100%;
		background-color:rgba(0,0,0,0.7);
		position:absolute;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
	}
	.modal-content{
		width:50%;
		height:80%;
		background-color: white;
		border-radius: 4px;
		text-align: center;
		padding: 20px;
		position: relative;
	}
	/*#name{
		width: 80%;
		padding: 5px;
		border-radius: 5%;
		outline: 0;
		border: 1px solid lightgrey;
	}*/
	
	.model-content{
		width:30%;
		height:50%;
		background-color: white;
		border-radius: 4px;
		text-align: center;
		padding: 20px;
		position: relative;
	}
	.modall-content{
		width:30%;
		height:50%;
		background-color: white;
		border-radius: 4px;
		text-align: center;
		padding: 20px;
		position: relative;
	}
	.sid2 input{
		width:50%;
		display: block;
		margin: 15px auto;

	}
	.sid3 input{
		width:50%;
		display: block;
		margin: 15px auto;

	}
	.close1
	{
		position: absolute;
		top: 0;
		right: 14px;
		font-size: 42px;
		transform: rotate(45deg);
		cursor:pointer;
	}
	.close2
	{
		position: absolute;
		top: 0;
		right: 14px;
		font-size: 42px;
		transform: rotate(45deg);
		cursor:pointer;
	}
	.close3
	{
		position: absolute;
		top: 0;
		right: 14px;
		font-size: 42px;
		transform: rotate(45deg);
		cursor:pointer;
	}
	.sid {
 background: none;/*this for transparent button*/
    border: 1px solid black;/* this is for button border*/
    position: relative;
    left: 150px;
    top: 80px;  

}